#test2 {
  background: #f876442e;
  margin-top: 200px;
  background: linear-gradient(180deg, transparent 50%, #dddddd 50%);
}
/* right img */
#test2 .vic_content_container .imageWithText__image-1-wrap{
  -ms-flex: 1 1 14%;
  flex:1 1 14% ;
  max-width: 100%;
  //left: -16%;
}
/* middle img */
#test2 .vic_content_container .imageWithText__image-2-wrap{
  -ms-flex: 1 1 56%;
  flex:1 1 56%;
  max-width: 100%;
}

#test2 .imageWithText__text{
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  top:6rem;
}
@media only screen and (max-width: 1024px){
  #test2 .imageWithText__text{
    flex: initial;
  }
}

#test2 .imageWithText__text h1.title1{
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;

  font-size: 23rem;
  line-height: 4rem;
  margin: 0;
  opacity: 0.5;
  color: #f87644;
  margin-top: -52px;
}
