@mixin backImage(
  $image,
  $grDir: to bottom,
  $opStart: 0,
  $opEnd:0,
  $bgPos: center center
  ) {
  /* vic-comment: code copied frm css-tricks */
  background: linear-gradient(
    $grDir,
    rgba(0,0,0,$opStart),
    rgba(0,0,0,$opEnd)
  ),
  url($image);
  background-repeat: no-repeat;
  background-position:$bgPos;
  background-attachment:fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}//backImage

@mixin backImage2(
  $image,
  $bgPos: center center
  ) {
  /* vic-comment: code copied frm css-tricks */
  background: url($image);
  background-repeat: no-repeat;
  background-position:$bgPos;
  //background-attachment:fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}//backImage2

@mixin clearfix {

    &:before,
    &:after {
      content: '';
      display: table;
    } //before, after

    &:after{
      clear:both;
    }//after
}// clearfix



//  The gradient animation mixin
//  The most up to date version can be found here:
//  https://gist.github.com/himynameisdave/32e51f5ff4780ae2104d
@mixin gradient-animation( $start, $end, $transTime ){
  background-size: 100%;
  background-image: -webkit-linear-gradient(to bottom left, $start 50%, $end 50%);
  background-image: linear-gradient(to bottom left, $start 50%, $end 50%);
  position: relative;
  z-index: 100;
  &:before {
    border-radius: inherit;
    background-image: -webkit-linear-gradient(to bottom left, $end 50%, $start 50%);
    background-image: linear-gradient(to bottom left, $end 50%, $start 50%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    z-index: -100;
    -moz-transition: opacity $transTime ease-in-out;
    -webkit-transition: opacity $transTime ease-in-out;
    transition: opacity $transTime ease-in-out;
  }
  &:hover {
     &:before {
       opacity: 1;
     }
  }
}
