#diagonal_two_color{
  background-color: $blue;
  background-image: -webkit-linear-gradient(30deg, lighten($blue,20%) 50%, $blue 50%);
  h2, p, a {color:white;}
}


/* To understand Display: Tabel-Cell*/
#css_002{
  @include clearfix;
  @include background-image(linear-gradient(top, $yellow, $orange));
  .content{
    @include clearfix;
    display: table;
    .a, .b, .c{
      @include span(1 of 3);
      @include pad(1,1);
      display: table-row;
      @include background-image(linear-gradient(30deg, $light, lighten($orange,20%)));
      height:100px;
      font-size: 2em;
    } // inner .a .b. .c
    .a{
      display:table-cell;
      vertical-align: middle;
      position:relative;
    }
  }// Content
  .outter{
    background:grey;
    display: table;
    padding:50px;
    margin:auto; // centering
    .inner{
      background: white;
      width:250px;height:250px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }// .outtter
}// #css_002


// #css_003
#css_003{
  img{width:100%;}
  img.angled_edge_via_clip_path{
   -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
   clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  }

   // css ref: https://codepen.io/jeremyfrank/pen/zvdXZM?editors=1100
  .hero img {
   clip-path: polygon(20% 20%, 100% 0, 80% 80%, 0 100%);
  }
  .hero {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    figcaption {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    p {margin-top: 0.5em;}
  }// .hero

  .promo {
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  }
  .promo {
    background: url(https://unsplash.it/1600/900?image=830) no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    margin: 50px 0;
    overflow: hidden;
    padding: 150px 20px;
    position: relative;
    text-align: center;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    p {    margin-top: 0.5em;  }
  }// .promo
}//#css_003
