
$this_blue : lighten( $blue, 75% );

#table_of_content{
  @include clearfix;
  // position: relative;
  // height:1000px;
  // background: url("../images/hotel/splash_hotelphoto.jpg");

  /*
  .overlay {
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    height:100%; width:100%;
    opacity:0.85;
    background-color: white;
  }
  */



  section{
    height:300px;
    @include span (3 of 12);
    border: 15px solid $this_blue;
    padding:10px;

    @include breakpoint( 450px $small){
      @include span(1 of 2);
    }// breakpoint
    @include breakpoint( 0px 450px ){
      @include span(1 of 1);
    }// breakpoint
  }

  // formatting
  a, h2, p {color:black;}
  a{ text-decoration: none;}
  h2{
    background:$this_blue;
    font-size:1.2em;
  }
  p, ul, li{
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 600;
    padding: 10px;
  }
}// # table_of_content
