#tween_002{
  section{
    height:80%;
    border: 50px darken(white,10%) solid;
    margin:10px;
  }
  .asset_button{
    display: inline-block;
    background:lighten($blue, 10%);color:white;
    padding:7px 10px; margin:10px;
    border-radius: 5px;
    font-weight:400;

    &.css{
      background:lighten($red, 10%);
    }
  }// END: .asset_button



  /* object's fade in animation */
  .object {
    text-align: center;
    width:200px; height:400px; border-radius: 15px;
    background:lighten($red, 10%);
    margin:auto;
    border-bottom: 5px lighten($red, 30%) solid; // little shaddow

    opacity:0;
    transform: translateY(150px);
    transition: all 0.7s ease-out;
  }

  .object.fade-in {
    opacity: 1;
    transform: translateY(0px);
  }

  /* button's fade in from left animation */
  .object button{
    /* this 3 line veritcally align the button*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 80%;    padding: 8px;

    opacity:0;
    transform: translateX(-400px);
    transition: all 1s ease-out;
  }
  button.fade-in-from-left{
    opacity: 1;
    transform: translateX(0px);
  }

/*
  #obj01{
    opacity:0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
  }
  #obj01.fade-in {
    opacity: 1;
    transform: translateY(0px);
  }


  #obj02{
    opacity:0;
    transform: translateX(-400px);
    transition: all 0.5s ease-out;
  }
  #obj02.fade-in-from-left {
    opacity: 1;
    transform: translateX(0px);
  }
  */

  // tween_003
  #intro{
    border:none;margin:0;padding:10%;
    background: darken(white,30%);
    img{
      width: 100px;
      margin: auto;
      display: block;
      position: relative;
      top:50%; translateY:-50%;
    }
  }


}// End: #tween_002
