#tween_002{
  section{
    height:80%;
    border: 50px darken(white,10%) solid;
    margin:10px;
  }

  #obj01{
    width:200px; height:200px;
    background: darken(white,30%);
    margin:auto;
  }

}// End: #tween_002
