.fullheight{
  height: 100vh;
}





header#tweendemo_header{
  article.fullheight{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
    min-height: 500px;

    // center img with flexbox
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);

  }// artile.fullheight
  .hgroup{
    &.div-2{
      width: 50%;
      background-image: -webkit-linear-gradient(30deg, #004E95 50%, #013A6B 50%);
    }// .hgroup.div-2
  }//.hgroup
} // tweendemo_header


/* circle_icon format */
div.circle_icon_wrapper{
  padding:10px;
  margin-top:10px;
}
div.circle_icon{
  margin:auto; // center div.circle_icon, against its wrapper div
  background: lighten($dark, 50%);
  width:70px;height:70px;
  border-radius: 100%;

  // center img with flexbox
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
  img{ max-width: 40px; }
  &:hover{ background:$dark; }
}// div.circle_icon

#tween1{
  #trigger1{
    background-color: $light;
  }
}// #tween1

.split_bg_left{
  background-color: $light;
  background-image: -webkit-linear-gradient(210deg, $light 50%, darken($light,10) 50%);
}
.split_bg_right{
  background-color: $light;
  background-image: -webkit-linear-gradient(30deg, $light 50%, darken($light,10) 50%);
}

blockquote{
  @include container(80%);
  margin: 0 auto; // center block horizaontally
  font:1.5em/1em bold Monospace,serif;
  background:black;
  color:white;
}
