#tween_002{
  section{
    height:80%;
    border: 50px darken(white,10%) solid;
    margin:10px;
  }
  .asset_button{
    display: inline-block;
    background:lighten($blue, 10%);color:white;
    padding:7px 10px; margin:10px;
    border-radius: 5px;
    font-weight:400;

    &.css{
      background:lighten($red, 10%);
    }
  }// END: .asset_button


  /* */
  .object {
    text-align: center;
    width:200px; height:200px; border-radius: 15px;
    background:lighten($red, 10%);
    margin:auto;
    border-bottom: 5px lighten($red, 30%) solid; // little shaddow
  }

  #obj01{
    opacity:0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
  }
  #obj01.fade-in {
    opacity: 1;
    transform: translateY(0px);
  }

  #obj02{
    opacity:0;
    transform: translateX(-400px);
    transition: all 0.5s ease-out;
  }
  #obj02.fade-in-from-left {
    opacity: 1;
    transform: translateX(0px);
  }
}// End: #tween_002
