#cs007_html{
  #ex1{
    text-align: center;
    .container {
      position: relative;
      width: 50%;
      margin: auto; // center
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #008CBA;
    }
    .overlay.ex1a{ opacity: 0.1; }
    .overlay.ex1b{ opacity: 0.8; }

    .container:hover .overlay {
      opacity: 1;
    }

    .text {
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
  }// #ex1

}
