#diagonal_two_color{
  background-color: $blue;
  background-image: -webkit-linear-gradient(30deg, lighten($blue,20%) 50%, $blue 50%);
  h2, p, a {color:white;}
}


#css_002a{
  .outter{
    background:lighten($dark, 50%);
    border:20px solid aliceblue;
    width:100%; height:400px;
  }// .outtter
  .inner{
    background:lighten($dark, 80%); width:200px;height:200px;
  }// .inner

  .ex1.outter{
    .inner{
      position:relative;
      transform:translate(-50%,-50%);
    }
  }
  .ex2.outter{
    .inner{
      position:relative;
      transform:translate(-50%,-50%);
    }
  }
}//css_002a

#css008_02{
  padding: 0;

  .parent{
    background: lighten(red, 45%);width:50%;height:300px;margin:auto;
    position:relative;
    .child{
      @include centerer;
      border: 20px solid grey;
    }// child
  }// parent

  //formatting...
  .vic_subhead{
    max-width: none; width:50%;padding:0px 50px;background: white;
    h2, ul li, a {font-size: 18px; letter-spacing: 1px; color:black}
    ul {
      text-align: left;
      line-height: 0.6em;
    }
  }
  xmp{
    width:50%;margin:auto;
  }

}//#css008_02

#css_002b{
  .box{
    width:200px; height:200px;color:white; font-weight:900;
  }
  .position-relative{
    background:darken(red,10%);
    position:relative;
    left:50%
  }
  .position-absolute{
    background:darken(red,30%);
    position:absolute;
    left:50%
  }
  .translate{
    background:darken(red,50%);
    transform:translate(50%);
  }
}// css_002b

// #css_003
#css_003{
  img{width:100%;}
  img.angled_edge_via_clip_path{
   -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
   clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  }

   // css ref: https://codepen.io/jeremyfrank/pen/zvdXZM?editors=1100
  .hero img {
   -webkit-clip-path:polygon(20% 20%, 100% 0, 80% 80%, 0 100%);
   clip-path: polygon(20% 20%, 100% 0, 80% 80%, 0 100%);
  }
  .hero {
    position: relative;
    text-align: center;
    figcaption {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;background:yellow;
    }
  }// .hero

  .promo {
    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  }
  .promo {
    background: url(https://unsplash.it/1600/900?image=830) no-repeat;
    background-size: cover;
    margin: 50px 0;
    overflow: hidden;
    padding: 150px 20px;
    position: relative;
    text-align: center;

  }// .promo
}//#css_003

#parallax_001{
  padding:0; height:500px;background: lighten($blue, 80%);
  .topbar{  width:100%; height:300px; background: lighten($blue, 20%); }
  section{ width:100%; height:100vh; background:lighten($blue, 75%); }
}// parallax_001

#parallax_002{
  padding:0;  background: lighten($yellow, 80%);
  #header {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    background: white;
  }

  #header__background {
    background-image: url("https://unsplash.it/2000/1200/?random");
    background-size: cover;
    background-position: center;
    width: inherit;
    height: inherit;
    display: table;
  }
  #header__centered{
    display: table-cell;
    vertical-align: middle;
  }
}
