#css007c{
  .mydiv_format{
    text-align: center;
  }//#ex1

  #img2{
    background-image:url(https://cdn.shopify.com/s/files/1/2313/1393/files/geode_720x.jpg);
  }

  .textOverImage_container{
    position:relative;
    width:300px;
    height:300px;
    float:left;
    margin:4px;
    border: 10px solid lightgrey;
    overflow: hidden;
    &:hover .textOverImage{
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }// hover

    /* text */
    &:after{
      position:absolute;
      top:90%;
      bottom:0;left:0;right:0;
      background-color: rgba(255,255,255,0.6);
      padding:0px 8px;
      opacity:1;
      content:attr(data-text); // 'data-text' is a custom attribute
      transition: all 0.5s ease-out;
      white-space: pre-wrap;
    }// after

    &:hover:after{
      opacity:1;
      top:0;
      padding: 8px;
    }

    /*  title, press ENTER after title*/
    &:first-line{
      color:red;
      font-weight:900;
      font-size:1.5em;
      line-height: 2rem;
      text-transform: uppercase;
    }// first-line, title
  }// .textOverImage_container

  .textOverImage{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height:100%;

    background-size:130% auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.7s ease-in-out;
  }// .textOverImage

//-------------------------------------------------
.test2{
  .textOverImage_container {
    &:hover img{
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2); /* IE 9 */
      transform: scale(1.2);
    }
    img{
      width:100%;
      height:100%;
      transition: all 0.7s ease-in-out;
    }// img

  }// .text2 .textOverImage_container


}// .test2
//-------------------------------------------------
  .clearfix {
    overflow: auto;
    clear: both;
    width:100%;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}//#css007a
