@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body#gallery03 {
  @media screen and (min-width: 768px) {
    //padding: 0 8rem;
  }
  #gallery {
    margin: 20px 0;
    .text,
    .button {
      z-index: 2;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      color: #1b242f;
    } // .text, .button

    .text .bold,
    .button .bold {
      font-size: 16pt;
    }

    .button {
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      border: 2px solid #e31b6d;
      width: 170px;
      margin: 0 auto;
      font-size: 13pt;
      padding: 7px 0;
    } // .button

    .mix {
      display: none;
      position: relative;
      .waypoint {
        background: #fff;
      }
      .button:hover {
        background: #e31b6d;
        color: #fff;
      }
      .card {
        height: 240px;
        max-width: 100%;
        width: calc(50vw - 8px);
        cursor: pointer;
        transition: opacity 0.5s;
      } // .card

      &:hover {
        .card {
          opacity: 0;
        }
        .text {
          opacity: 1;
          top: 24%;
        }
        .button {
          opacity: 1;
          bottom: 24%;
        }
      } // .mix:hover
    } //.mix
  } // #gallery

  @for $i from 1 through 12 {
    #gallery .mix:nth-child(#{$i}) .card {
      background: url("http://findmatthew.com/style/../img/thumb-#{$i}.jpg")
        center
        center/cover;
    }
  }

  /* FLEX */
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.row {
      flex-direction: row;
    }
    &.wrap {
      flex-wrap: wrap;
    }
  } // .flex

  /* CONTAINER */
  section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
  } // .container

  // RESPONSIVE
  #gallery .mix .card {
    width: 390px;
  }

  @media screen and (max-width: 400px) {
    #gallery .mix .card {
      width: 100vw;
    }
  }



  //------------------------------------------------------------------------------

  /* BOLD */
  .bold {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 1.2rem;
  }
  #gallery .text .bold,
  #gallery .button .bold {
    font-size: 16pt;
  }

  //------------------------------------------------------------------------------
  section.mix_gallery {
    background: #137ec0;
  }
  section.mix_gallery .container {
    padding: 0;
  }
  section.mix_gallery .filter-wrap {
    position: relative;
  }
  section.mix_gallery .filter {
    font-size: 6pt;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  section.mix_gallery .float-bar {
    top: 0;
    bottom: 0;
    left: 30px;
    position: absolute;
    margin: auto 0;
    position: absolute;
    overflow: hidden;
    height: 25px;
    border-radius: 1px;
    background: #e31b6d;
    transition: all 0.5s ease-in-out;
  }
  section.mix_gallery .float-bar .row {
    top: 0;
    bottom: 0;
    left: -30px;
    position: absolute;
    margin: auto 0;
    transition: left 0.5s ease-in-out;
  }
  section.mix_gallery .float-bar .row .filter {
    color: #fff;
  }
  section.mix_gallery .text {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
