body#gallery03 {
  /* --------------------------------------------------- */
  footer {
    background: #1b242f;
    padding: 70px 0 50px 0;
    position: relative;
  }

  footer .mdi-chevron-double-up {
    position: absolute;
    top: -25px;
    background: #e31b6d;
    font-size: 30pt;
    width: 47px;
    height: 50px;
    line-height: 40pt;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    transition: background 0.5s;
  }

  footer .mdi-chevron-double-up:hover {
    background: #fb1f79;
  }

  footer .icon-wrap .icon {
    overflow: hidden;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: relative;
    text-align: center;
    margin: 0 15px;
    background: #262f38;
    font-size: 18pt;
  }

  footer .icon-wrap .mdi {
    text-align: center;
    color: #fff;
  }

  footer .icon-wrap .mdi.mdi-codepen {
    font-size: 20pt;
  }

  footer .icon-wrap .icon:hover {
    background: #04c2c9;
    box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
    transform: scale(0.9);
  }

  footer .icon-wrap .icon:hover .mdi {
    color: #fff;
  }

  footer .icon-wrap .icon:hover .mdi {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
  }

  footer .footnote {
    font-size: 10pt;
    color: #8f9aa7;
    margin-top: 35px;
    opacity: 0.6;
  }

  footer .footnote .highlight {
    font-family: "Open Sans";
    color: #e31b6d;
  }
} // body#gallery03
