body#gallery03 {
  @media screen and (max-width: 400px) {
    section:nth-of-type(3) #gallery .mix .card {
      width: 100vw;
    }
  } //   @media screen and (max-width: 400px) 

  //------------------------------------------------------------------------------
  @media screen and (min-width: 600px) {
    body {
      font-size: 12pt;
    }

    .container {
      padding: 0 20px;
    }

    .header {
      font-size: 30pt;
    }

    .header-bar {
      margin: 25px 0 100px 0;
    }

    .label {
      font-size: 18pt;
    }

    .hex-wrap {
      height: 100px;
      width: 100px;
    }

    .slide,
    .carousel-wrap {
      height: 450px;
    }

    .mdi-chevron-left,
    .mdi-chevron-right {
      font-size: 25pt !important;
    }

    .modal-wrap .modal {
      top: -6vh;
      height: initial;
    }
    .modal-wrap .info-box {
      padding: 35px 60px 90px 25px;
    }
    .modal-wrap .title {
      font-size: 22pt;
      line-height: 30pt;
    }
    .modal-wrap .tag {
      font-size: 11pt;
    }
    .modal-wrap .detail {
      font-size: 11pt;
      line-height: 18pt;
      margin-top: 15px;
    }
    .modal-wrap .close {
      right: 25px;
    }
    .modal-wrap .button {
      left: 25px;
    }

    nav .link-wrap {
      position: initial;
      background: none;
      overflow: visible;
      height: initial;
      text-align: left;
    }
    nav .link-wrap .visible {
      height: initial;
    }
    nav .link-wrap div {
      margin: 0 20px;
      padding: initial;
      font-size: initial;
      display: inline;
    }
    nav .link-wrap div:first-child {
      padding: 0;
    }
    nav .mdi-menu {
      display: none;
    }

    section {
      line-height: 18pt;
      padding: 100px 0 130px 0;
    }
    section .container {
      padding: 0 10px;
    }
    section:nth-of-type(1) .text {
      font-size: 32pt;
      line-height: 36pt;
    }
    section:nth-of-type(1) .button {
      padding: 12px 50px 12px 20px;
    }
    section:nth-of-type(1) .button .mdi {
      top: 16px;
    }
    section:nth-of-type(2) .label-wrap .label {
      margin: 15px 0 5px 0;
    }
    section:nth-of-type(2) .label-wrap > div {
      padding: 0 15px;
    }
    section:nth-of-type(2) .bullet-wrap {
      height: 230px;
    }
    section:nth-of-type(2) .skills-wrapper > .flex:first-child {
      padding: 0 50px 0 50px;
    }
    section:nth-of-type(2) .skills-wrapper .me {
      height: 250px;
    }
    section:nth-of-type(2) .bar {
      height: 28px;
      margin: 0 0 15px 0;
      font-size: 11pt;
    }
    section:nth-of-type(2) .bar span {
      display: initial;
    }
    section:nth-of-type(2) .bar .tag {
      width: 110px;
    }
    section:nth-of-type(2) .hexagon i {
      font-size: 40pt;
    }

    section:nth-of-type(3) {
      .filter {
        font-size: 11pt;
        margin: 0 15px;
        padding: 0 30px;
      } // .filter
      .float-bar {
        height: 30px;
      }
      #gallery .mix .card {
        height: 300px;
      }
    } //section:nth-of-type(3)

    section:nth-of-type(4) {
      padding: 130px 0 180px 0;
    }
    section:nth-of-type(4) .label {
      line-height: 22pt;
      font-size: 16pt;
    }
    section:nth-of-type(4) .date {
      font-size: 8.5pt;
    }
    section:nth-of-type(4) .bar {
      margin: 15px 0px;
    }
    section:nth-of-type(4) .text {
      font-size: 11pt;
      line-height: 15pt;
    }
    section:nth-of-type(4) .blog-wrap {
      width: 400px;
    }
    section:nth-of-type(4) .thumb {
      height: 200px;
    }
    section:nth-of-type(5) form {
      min-width: 500px;
    }
  }
  // END @media (min-width: 600px)
} // body#gallery03
