@import url("https://fonts.googleapis.com/css?family=Exo+2:200,400,600,800");
/* line 5, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
}

/* line 8, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 200 1.5em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0f83a0;
  font-weight: 600;
}

/* line 14, ../../../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 18, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

/* line 1, ../../../components/sass/_layout.scss */
body {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 7, ../../../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 20px 0;
}
/* line 11, ../../../components/sass/_layout.scss */
.scene article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.scene article:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  /* line 7, ../../../components/sass/_layout.scss */
  .scene {
    padding: 40px 0;
  }
}
@media (min-width: 960px) {
  /* line 19, ../../../components/sass/_layout.scss */
  .scene article {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
  .scene article:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* line 3, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead {
  display: block;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ffffff;
  margin-top: 15px;
  padding: 10px;
  font-size: 1.7em;
}
/* line 14, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead h2, .vic_subhead a, .vic_subhead p {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  margin: 5px;
}
/* line 17, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead h2 {
  border: none !important;
}
/* line 18, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead p {
  color: #ffffff;
  font-weight: 100;
  font-size: 0.7em;
  line-height: 1.1em;
  letter-spacing: 1px;
  text-align: left !important;
  padding: 10px;
}

/* line 26, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead:hover {
  color: #000000;
  background: #ffffff;
}
/* line 28, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead:hover a, .vic_subhead:hover p, .vic_subhead:hover h1, .vic_subhead:hover h2 {
  color: #df4848;
}
/* line 29, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.vic_subhead:hover p {
  font-weight: 600;
}

/* line 34, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format {
  padding: 100px 0;
}
/* line 36, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format h1 {
  color: #ffffff;
  font-size: 5em;
  font-weight: 800;
  line-height: .8em;
  text-shadow: #000000 0 0 20px;
  text-align: center;
}
/* line 44, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format h2, .mydiv_format .vic_subhead {
  display: block;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ffffff;
  margin-top: 15px;
  padding: 10px;
  font-size: 1.7em;
}
/* line 55, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format h2 a, .mydiv_format .vic_subhead a {
  text-decoration: none;
  color: #ffffff;
}
/* line 60, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format p, .mydiv_format ul, .mydiv_format blockquote {
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 600;
  padding: 10px;
}
/* line 63, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format p img, .mydiv_format ul img, .mydiv_format blockquote img {
  padding-top: 50px;
  max-width: 50px;
}
/* line 68, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format ul {
  list-style-type: square;
}
/* line 69, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.mydiv_format .content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  padding: 30px;
  margin: 30px auto;
  background-color: #cccccc;
}
/* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.mydiv_format .content:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 76, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
.show_element_name {
  color: #ffffff;
  background: #ff5252bb;
  font-weight: 500 !important;
  padding: 3px !important;
  font: 1em/1.1em Monospace !important;
}

/* line 85, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
xmp {
  background: black;
  font-weight: 500px;
  color: white;
  padding: 10px;
  font: 1.2em/1.4em Monospace;
}

/* line 91, ../../../components/sass/modules_vicmod_css/_vic_base.scss */
mark {
  font-weight: 900;
  padding: 2px 8px;
}

/* line 1, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
#css001_html #header {
  height: 100vh;
  background: url("https://source.unsplash.com/random/2000x990");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* line 12, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
body#css001_html h1 {
  color: white;
  background: grey;
}

/* line 13, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
div#header h1, div#main h1 {
  color: white;
  background: black;
}

/* line 14, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
#inner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 300px;
  background: #000000A0;
}
/* line 19, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
#inner h1, #inner h2, #inner p, #inner a {
  color: white;
  padding: 5px 20px;
  font: 200 1.2em/1.3em "Exo 2", "Helvetica Neue";
}
/* line 23, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
#inner ol {
  color: white;
  padding: 20px;
  list-style-type: decimal;
}
/* line 27, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
#inner ol li {
  margin: 0 10px;
  padding: 0 10px;
}

/* line 36, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
.fullheightbg {
  height: 100vh;
  /* vic-comment: code copied frm css-tricks */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/hotel/events_2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-backface-visibility: hidden;
}
/* line 40, ../../../components/sass/modules_vicmod_css/_csspage001.scss */
.fullheightbg .hgroup {
  background: #00000085;
  height: 100vh;
}

/* line 1, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate {
  background: #333333;
}
/* line 3, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate .child {
  background: #f7e5aa;
  margin: 0 auto;
  width: 50vw;
  min-height: 20vh;
}
/* line 9, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate .parent:hover {
  background-image: -webkit-linear-gradient(30deg, #0f83a0 50%, #063642 50%);
}
/* line 13, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate .gradient_animate_1 {
  margin: 0 auto;
  background-size: 100%;
  cursor: pointer;
  position: relative;
  background-image: linear-gradient(#ffffff, #000000);
  z-index: 100;
}
/* line 23, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate .gradient_animate_1:before {
  border-radius: inherit;
  background-image: linear-gradient(#000000, #ffffff);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
}
/* line 37, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate .gradient_animate_1:hover:before {
  opacity: 1;
}
/* line 43, ../../../components/sass/modules_vicmod_css/_csspage003.scss */
#css_hover_bg_animate .gradient_animate_2 {
  background-size: 100%;
  background-image: -webkit-linear-gradient(to bottom left, #b3b3b3 50%, #e6e6e6 50%);
  background-image: linear-gradient(to bottom left, #b3b3b3 50%, #e6e6e6 50%);
  position: relative;
  z-index: 100;
}
/* line 67, ../../../components/sass/_mixins.scss */
#css_hover_bg_animate .gradient_animate_2:before {
  border-radius: inherit;
  background-image: -webkit-linear-gradient(to bottom left, #e6e6e6 50%, #b3b3b3 50%);
  background-image: linear-gradient(to bottom left, #e6e6e6 50%, #b3b3b3 50%);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
/* line 84, ../../../components/sass/_mixins.scss */
#css_hover_bg_animate .gradient_animate_2:hover:before {
  opacity: 1;
}

/* line 1, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#diagonal_two_color {
  background-color: #063642;
  background-image: -webkit-linear-gradient(30deg, #0f83a0 50%, #063642 50%);
}
/* line 4, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#diagonal_two_color h2, #diagonal_two_color p, #diagonal_two_color a {
  color: white;
}

/* line 9, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002a .outter {
  background: gray;
  border: 20px solid aliceblue;
  width: 100%;
  height: 400px;
}
/* line 14, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002a .inner {
  background: #cccccc;
  width: 200px;
  height: 200px;
}
/* line 19, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002a .ex1.outter .inner {
  position: relative;
  transform: translate(-50%, -50%);
}
/* line 25, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002a .ex2.outter .inner {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* line 33, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002b .box {
  width: 200px;
  height: 200px;
  color: white;
  font-weight: 900;
}
/* line 36, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002b .position-relative {
  background: #cc0000;
  position: relative;
  left: 50%;
}
/* line 41, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002b .position-absolute {
  background: #660000;
  position: absolute;
  left: 50%;
}
/* line 46, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_002b .translate {
  background: black;
  transform: translate(50%);
}

/* line 54, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 img {
  width: 100%;
}
/* line 55, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 img.angled_edge_via_clip_path {
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
}
/* line 61, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 .hero img {
  -webkit-clip-path: polygon(20% 20%, 100% 0, 80% 80%, 0 100%);
  clip-path: polygon(20% 20%, 100% 0, 80% 80%, 0 100%);
}
/* line 65, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 .hero {
  position: relative;
  text-align: center;
}
/* line 68, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 .hero figcaption {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: yellow;
}
/* line 77, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 .promo {
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
}
/* line 81, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#css_003 .promo {
  background: url(https://unsplash.it/1600/900?image=830) no-repeat;
  background-size: cover;
  margin: 50px 0;
  overflow: hidden;
  padding: 150px 20px;
  position: relative;
  text-align: center;
}

/* line 93, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_001 {
  padding: 0;
  height: 500px;
  background: #e4f8fd;
}
/* line 95, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_001 .topbar {
  width: 100%;
  height: 300px;
  background: #0f83a0;
}
/* line 96, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_001 section {
  width: 100%;
  height: 100vh;
  background: #ccf1fa;
}

/* line 99, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_002 {
  padding: 0;
  background: white;
}
/* line 101, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_002 #header {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  background: white;
}
/* line 108, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_002 #header__background {
  background-image: url("https://unsplash.it/2000/1200/?random");
  background-size: cover;
  background-position: center;
  width: inherit;
  height: inherit;
  display: table;
}
/* line 116, ../../../components/sass/modules_vicmod_css/_csspage008.scss */
#parallax_002 #header__centered {
  display: table-cell;
  vertical-align: middle;
}

/* line 2, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper, #css_004a #sec_wrapper {
  border: 15px solid rgba(255, 255, 255, 0.9);
}
/* line 45, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper:before, #css_004 #sec_wrapper:after, #css_004a #sec_wrapper:before, #css_004a #sec_wrapper:after {
  content: '';
  display: table;
}
/* line 51, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper:after, #css_004a #sec_wrapper:after {
  clear: both;
}
/* line 5, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper section, #css_004a #sec_wrapper section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  border: 15px solid #9de4f6;
}
/* line 12, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 .xmp_split_panes, #css_004a .xmp_split_panes {
  background: rgba(0, 0, 0, 0.5);
}
/* line 45, ../../../components/sass/_mixins.scss */
#css_004 .xmp_split_panes:before, #css_004 .xmp_split_panes:after, #css_004a .xmp_split_panes:before, #css_004a .xmp_split_panes:after {
  content: '';
  display: table;
}
/* line 51, ../../../components/sass/_mixins.scss */
#css_004 .xmp_split_panes:after, #css_004a .xmp_split_panes:after {
  clear: both;
}
/* line 15, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 .xmp_split_panes section, #css_004a .xmp_split_panes section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-left: 0.66667%;
  padding-right: 0.66667%;
}
/* line 17, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 .xmp_split_panes section xmp, #css_004a .xmp_split_panes section xmp {
  height: 400px;
}
/* line 23, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper3, #css_004a #sec_wrapper3 {
  border: 15px solid rgba(255, 255, 255, 0.9);
}
/* line 45, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper3:before, #css_004 #sec_wrapper3:after, #css_004a #sec_wrapper3:before, #css_004a #sec_wrapper3:after {
  content: '';
  display: table;
}
/* line 51, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper3:after, #css_004a #sec_wrapper3:after {
  clear: both;
}
/* line 27, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper3 section, #css_004a #sec_wrapper3 section {
  background: white;
  height: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  border: 15px solid #9de4f6;
}
@media (min-width: 450px) and (max-width: 650px) {
  /* line 27, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
  #css_004 #sec_wrapper3 section, #css_004a #sec_wrapper3 section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 0px) and (max-width: 450px) {
  /* line 27, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
  #css_004 #sec_wrapper3 section, #css_004a #sec_wrapper3 section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 10%;
    padding-right: 10%;
  }
}
/* line 44, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper5 section .show_element_name,
#css_004 #sec_wrapper6 section .show_element_name, #css_004a #sec_wrapper5 section .show_element_name,
#css_004a #sec_wrapper6 section .show_element_name {
  font-size: 5em !important;
  width: 100%;
}
/* line 45, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper5:before, #css_004 #sec_wrapper5:after, #css_004a #sec_wrapper5:before, #css_004a #sec_wrapper5:after {
  content: '';
  display: table;
}
/* line 51, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper5:after, #css_004a #sec_wrapper5:after {
  clear: both;
}
/* line 52, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper5 section, #css_004a #sec_wrapper5 section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 1.11111%;
  padding-right: 1.11111%;
  background-color: #ffffff;
  height: 200px;
  border: 15px solid #9de4f6;
}
/* line 60, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper6, #css_004a #sec_wrapper6 {
  box-sizing: border-box;
}
/* line 45, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper6:before, #css_004 #sec_wrapper6:after, #css_004a #sec_wrapper6:before, #css_004a #sec_wrapper6:after {
  content: '';
  display: table;
}
/* line 51, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper6:after, #css_004a #sec_wrapper6:after {
  clear: both;
}
/* line 64, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper6 section, #css_004a #sec_wrapper6 section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 35.55556%;
  float: left;
  padding-left: 1.11111%;
  padding-right: 1.11111%;
  background-color: #ffffff;
  height: 200px;
  border: 15px solid #9de4f6;
}
/* line 45, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper7:before, #css_004 #sec_wrapper7:after, #css_004a #sec_wrapper7:before, #css_004a #sec_wrapper7:after {
  content: '';
  display: table;
}
/* line 51, ../../../components/sass/_mixins.scss */
#css_004 #sec_wrapper7:after, #css_004a #sec_wrapper7:after {
  clear: both;
}
/* line 77, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper7 .three-columns, #css_004a #sec_wrapper7 .three-columns {
  width: 33.33333%;
  padding-left: 5.55556%;
  padding-right: 5.55556%;
  float: left;
  background-color: #ffffff;
  height: 200px;
  border: 1px solid #9de4f6;
}
/* line 86, ../../../components/sass/modules_vicmod_css/_css_004_susy.scss */
#css_004 #sec_wrapper7 .three-columns p, #css_004a #sec_wrapper7 .three-columns p {
  width: 100%;
  height: 100%;
}

/* line 1, ../../../components/sass/modules_vicmod_css/_css_005_container.scss */
#css_005 {
  background: #000000;
}
/* line 3, ../../../components/sass/modules_vicmod_css/_css_005_container.scss */
#css_005 #div_1 {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
#css_005 #div_1:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 6, ../../../components/sass/modules_vicmod_css/_css_005_container.scss */
#css_005 #div_2 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
#css_005 #div_2:after {
  content: " ";
  display: block;
  clear: both;
}
