body{ background:#ffaaa5;}
.img-container svg#legging{
  background-color:#a8e6cf; height: 90vh;
}
.img-container .detail_panel {
  background-color:#ffd3b6; height: 90vh;
}

path {
  fill: transparent;
  transition: 1s;
	stroke:#818181;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;
  opacity: 1;
	pointer-events:all; /* ensure mouse hover will be triggered by both stroke & fill*/
	 white-space: nowrap;
}

/* this is tutorial's effect */
#RL1:hover, #RL2:hover, #RL3:hover,
#RLB:hover, #RLF:hover, #WS:hover, #WF:hover, #WB:hover, #LLB:hover, #LLF:hover
{ fill: white; stroke:white; opacity:0.5;}

/* this accidental effect caused by fill, try toggle fill:none & fill: transparent*/
#RL4{fill:none; transition: 2s;stroke:#e91e63;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
#RL4:hover{ fill: #e91e63; stroke:white; opacity:0.5;}

/* bootstrap carousel  */

#myCarousel .carousel-inner {
  /* min-height: 190px; */
  /* max-height:50vh;
  height:50vh; */
}

#myCarousel p,
#myCarousel-2 p {
  text-align: left;
}

.popover {
  /* position:relative !important; */
  display:inline !important;
  /* border: 1px solid #cecece; */
  transform: initial !important;
  /* //top: 0 !important;
  //left: 50vw !important; */
  height: 90vh ; // same as svg
  overflow: hidden !important;
  max-width: 100% !important;
}

.popover .popover-body{

}
.popover.bottom>.arrow {
  /* border-bottom-color: rgba(255, 158, 0, 1); */
   /* border-bottom-color: #f7f7f7; */
}

.popover.bottom>.arrow:after {
  /* //top: 3px; */
}
